* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #F6F8FC;
}

.content {
    padding: 1rem;
    background-color: #FFFFFF;
    height: 100vh;
}

.pokemons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 399px){
    .pokemons {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 400px){
        .pokemons {
            grid-template-columns: 1fr 1fr;
        }
}

@media screen and (min-width: 768px){
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px){
    .content {
        max-width: 992px;
        margin: 0 auto;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

@media screen and (min-width: 1024px){
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}



